body {
    font-family: sans-serif;
    margin:0;
    padding:0;
}

#container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 30px auto 200px;
    grid-template-areas:
        "header header"
        "sidebar editor"
        "terminal terminal";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#header {
    grid-area: header;    
}

#sidebar {
    grid-area: sidebar;    
}

#editor {
    grid-area: editor;
    overflow: hidden;
}

#terminal {
    grid-area: terminal;    
}